/* Add mobile styles for the component here.  */
FlexboxLayout {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("~/assets/images/bg.jpg");
}
StackLayout {
  width: 300;
  padding: 10 16;
  background-color: #f0f0f0;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360);
  }
}

image {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  margin-bottom: 20;
  height: 70;
}
button,
TextField {
  margin-bottom: 10;
}
.btn-primary {
  background-color: #cb1d00;
  margin-left: 0;
  margin-right: 0;
}
TextField {
  placeholder-color: #c4afb4;
  color: black;
}

.dark {
  background-color: #301217;
  TextField {
    color: #c4afb4;
  }
}
